@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
}


.auth-card{
  padding: 20px;
  text-align: center;
   max-width: 400px;
   margin:10px auto;
   margin-top: 40px;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid yellow !important;
  box-shadow: 0 1px 0 0 yellow !important;
}
.gallery{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  width:30%;
}
.home-card{
  max-width: 500px;
  height:max-content;
  margin:26px auto;
}
